@import "../../styles//mixins-vars.scss";

.card {
   padding: 10px;
   border-radius: 5px;
   height: auto;
   min-height: 350px;
   display: flex;
   flex-direction: column;
   gap: 0.6rem;
   text-align: center;
   background: var(--uiBackground);
   position: relative;
   z-index: 2;
   cursor: pointer;
   overflow: hidden;

   &:hover {
      box-shadow: 5px 5px 15px #000;
   }

   @media (max-width: $phoneMiddleScreen) {
      width: 100%;
   }

   &Img {
      object-fit: contain;
      margin: 0 auto;
   }

   &ImgHolder {
      width: 100%;
      height: 150px;
      position: relative;
      overflow: hidden;
   }

   &PriceOld {
      span {
         text-decoration: line-through;
      }
   }

   &PriceNew {
      font-size: 1.5rem;
   }

   &Title {
      font-size: 1.5rem;
   }

   &ButtonWrap {
      display: flex;
      margin-top: auto;
   }
}

.overflowed {
   overflow: hidden;
}

.card:hover .cardBorder {
   stroke-dashoffset: 3000;
}
