@import "../../styles/mixins-vars.scss";

.home {
   &Inner {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      margin-bottom: 1.42rem;
      grid-gap: 10px;
   }
}

.notFound {
   width: 100%;
   height: 250px;
   font-size: 2rem;
   @include flexCenter;
}
