/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Button/button.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.button_btn__vOh9h {
  background: var(--buttonBackground);
  border: none;
  color: var(--textColor);
  font-weight: 700;
  font-size: 1.1rem;
  max-width: 200px;
  padding: 0 10px;
  border-radius: 5px;
  min-height: 40px;
  height: auto;
  cursor: pointer;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_btn__vOh9h svg {
  pointer-events: none;
}
@media (max-width: 630px) {
  .button_btn__vOh9h {
    height: 50px;
  }
}
.button_btn__vOh9h:hover, .button_btn__vOh9h:active {
  opacity: 0.9;
}
.button_btn__vOh9h.button_fullWidth__M5ohf {
  width: 100%;
}
.button_btn__vOh9h.button_icon__23fEi {
  width: 40px;
  height: 40px;
}
.button_btn__vOh9h.button_cartBtn__V3eGG {
  justify-content: space-evenly;
}
.button_btn__vOh9h.button_center__U14I5 {
  margin: 0 auto;
}
.button_btn__vOh9h.button_centerBottom__ghXbe {
  margin: auto auto 0 auto;
}
body[data-theme=light] .button_btn__vOh9h.button_transparent__h15iu {
  background: transparent;
  color: #000;
}
body[data-theme=dark] .button_btn__vOh9h.button_transparent__h15iu {
  background: transparent;
  color: #fff;
}

.button_btnBorder__HxzyW {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 5px;
  transition: stroke-dashoffset 0.5s;
  border-radius: 5px;
}
.button_btnBorder__HxzyW rect {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: var(--buttonBorderColor);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.button_loadingIcon__9fqbp {
  vertical-align: middle;
  animation: button_rotation__mm6WW 0.6s infinite;
}

.button_btn__vOh9h:is(:hover, :active) .button_btnBorder__HxzyW {
  stroke-dashoffset: 500;
}

@keyframes button_rotation__mm6WW {
  to {
    transform: rotate(360deg);
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/ProductCard/productCard.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.productCard_card__s2HAu {
  padding: 10px;
  border-radius: 5px;
  height: auto;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  text-align: center;
  background: var(--uiBackground);
  position: relative;
  z-index: 2;
  cursor: pointer;
  overflow: hidden;
}
.productCard_card__s2HAu:hover {
  box-shadow: 5px 5px 15px #000;
}
@media (max-width: 630px) {
  .productCard_card__s2HAu {
    width: 100%;
  }
}
.productCard_cardImg__q1J3e {
  object-fit: contain;
  margin: 0 auto;
}
.productCard_cardImgHolder__2kLSe {
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
}
.productCard_cardPriceOld__r4wNK span {
  text-decoration: line-through;
}
.productCard_cardPriceNew__X7Imj {
  font-size: 1.5rem;
}
.productCard_cardTitle__Q1SX_ {
  font-size: 1.5rem;
}
.productCard_cardButtonWrap__IRbQo {
  display: flex;
  margin-top: auto;
}

.productCard_overflowed__OyJZ3 {
  overflow: hidden;
}

.productCard_card__s2HAu:hover .productCard_cardBorder__IKZr4 {
  stroke-dashoffset: 3000;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Loader/Loader.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Loader_loaderWrap__jdEz9 {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--backgroundColor);
  z-index: 9999;
}
.Loader_loaderWrap__jdEz9 svg {
  width: 100px;
  height: 100px;
  animation: Loader_rotation__PINnv 1s infinite linear;
}

@keyframes Loader_rotation__PINnv {
  to {
    transform: rotate(360deg);
  }
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/SearchForm/SearchForm.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SearchForm_searchInputWrap__kr3qw {
  text-align: center;
  margin-bottom: 1.42rem;
}

.SearchForm_searchInputGroup__XoHCE {
  display: inline-block;
  position: relative;
}

.SearchForm_input__AwQbh {
  display: block;
  margin-inline: auto;
  padding: 5px 10px;
  background: transparent;
  border: none;
  color: var(--textColor);
  border-radius: 5px;
  height: 40px;
  width: 300px;
  font-size: 1.1rem;
  transform: scale(1);
  position: relative;
}
@media (max-width: 630px) {
  .SearchForm_input__AwQbh {
    height: 50px;
    width: 100%;
  }
}

.SearchForm_inputBorder__hu55R {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 5px;
  transition: stroke-dashoffset 0.5s linear;
  border-radius: 5px;
}
.SearchForm_inputBorder__hu55R rect {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: var(--textColor);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.SearchForm_input__AwQbh:is(:focus) + .SearchForm_inputBorder__hu55R {
  stroke-dashoffset: 300;
  fill: #fff;
}

.SearchForm_searchIcon__VG5nQ {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.SearchForm_formGroup__fZcs7 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/ProductsList/productList.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.productList_homeInner__YhSda {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 1.42rem;
  grid-gap: 10px;
}

.productList_notFound__1Dg44 {
  width: 100%;
  height: 250px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
